<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Products</title>
    </head>
    <body>
        <h1><u>PRODUCT LIST</u></h1>
        <table border="1">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Sector</th>
                <th>Type</th>
                <th>Price</th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.category}"></td>
                <td th:text="${product.sector}"></td>
                <td th:text="${product.type}"></td>
                <td th:text="${product.price}"></td>

            </tr>
        </table>
        <br>
        <a th:href="@{/products/new}">ADD NEW PRODUCT</a>
    </body>

</html>