<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Product form</title>
    </head>
    <body>
        <h1><u>ADD NEW PRODUCT</u></h1>

        <form th:action="@{/products/new}" th:object="${product}" method="post">
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" th:field="*{name}"></td>
                </tr>
                <tr>
                    <td>Category:</td>
                    <td><input type="text" th:field="*{category}"></td>
                </tr>
                <tr>
                    <td>Sector:</td>
                    <td><input type="text" th:field="*{sector}"></td>
                </tr>
                <tr>
                    <td>Type:</td>
                    <td><input type="text" th:field="*{type}"></td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td><input type="number" step="0.01" th:field="*{price}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Save Product</button>
                    </td>
                </tr>
            </table>
        </form>
        <br>
        <a th:href="@{/products}">BACK TO THE LIST</a>
    </body>

</html>