<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Random Number</title>
        <style>

        </style>
    </head>
    <body>
        <h1>NUMBER GUESSING GAME</h1>
        <p>Think of number between 1 and 100. <br> You have 5 chance to guess number correctly.</p>
        <p>Please select the difficulty level</p>
        <ol>
            <li>Easy (10 chances)</li>
            <li>Medium (5 chances)</li>
            <li>Hard (3 chances)</li>
        </ol>
        <form action="page" method="post">
            <input type="number" name="difficulty" placeholder="Enter your choice" required>
            <button type="submit">CHOOSE</button>
        </form>
    </body>
</html>