<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1><u>LOGIN USER</u></h1>
        <form action="">
            <table>
                <tr>
                    <td>Email or Phone number</td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password"></td>
                </tr>
                <tr>
                    <td>
                        <button>LOGIN</button>
                    </td>
                    <td>
                        <button>CREATE ACCOUNT</button>
                    </td>                
                </tr>
            </table>
        </form>
    </body>
</html>